.levelup-app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #f4f3f5;
}

.levelup-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
}
